
/* Main Colors Used

cream text color: #c9c9c9
dark background: #1c1d26
light background: #292b38
purple: #7400f0

*/


.default-text-color {
  color: #c9c9c9 !important;
}

.default-placeholder-color::placeholder {
  color: #c9c9c9;
}

.custom-scrollbar{
  scrollbar-width: thin;
  scrollbar-color: #c9c9c9 transparent;}

.favorite-button:hover{
  filter: drop-shadow(0 0 8px gold);
}

/* Change placeholder text color */
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6); /* Light white */
  opacity: 1; /* Ensure visibility in some browsers */
}

.icon-btn:hover{
    filter: drop-shadow(0 0 5px gray);
}

.delete-icon-btn:hover {
  filter: drop-shadow(0 0 10px red);
}

  /* Only target items in .custom-filter-dropdown */
.custom-filter-dropdown .dropdown-item {
  color: #c9c9c9; /* or inherit from your default-text-color class */
  transition: background-color 0.2s ease;
}

.custom-filter-dropdown .dropdown-item:hover {
  background-color: #1c1d26;
  color: #c9c9c9; /* Keep text color the same */
}

.section-change-button:hover{
  filter: drop-shadow(0 0 5px gray);
}

.job-card:hover,
.job-card:active,
.job-card:focus {
  filter: drop-shadow(0 0 10px #7400f0);

}

.dark-bg {
  background-color: #1c1d26;
  color: #c9c9c9;
}

.light-bg {
  background-color: #292b38;
  color: #c9c9c9;
}

.light-bg:hover,
.light-bg:active,
.light-bg:focus {
  background-color: #1c1d26;
  color: #c9c9c9;
}

.purple-bg {
  background-color: #7400f0;
  color: #c9c9c9;
}

.purple-bg:hover,
.purple-bg:active {
  background-color: #5710ad !important;
  color: #c9c9c9 !important;
}

.blue-bg {
  background-color: blue;
  color: #c9c9c9;
}

.blue-bg:hover,
.blue-bg:active {
  background-color: darkblue !important;
  color: #c9c9c9 !important;
}

.red-bg {
  background-color: red;
  color: #c9c9c9;
}

.red-bg:hover,
.red-bg:active {
  background-color: darkred !important;
  color: #c9c9c9 !important;
}


.green-bg {
  background-color: green;
  color: #c9c9c9;
}

.green-bg:hover,
.green-bg:active {
  background-color: darkgreen !important;
  color: #c9c9c9 !important;
}



.btn-close {
  filter: invert(1);
}

.force-drop-down {
  top: 100% !important;
  transform: translateY(0) !important;
  inset: unset !important;
  max-height: 200px !important;
}











